<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>

    <link href="/static/Css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="/static/Css/cb.css" rel="stylesheet" type="text/css"/>
    <link href="/static/Css/n.css" rel="stylesheet" type="text/css"/>
    <style>
        .biankuangs {
            border: solid #A6D2FF 1px;
            border-top: 0px;
        }

        #item_text2, #item_text1, #itemtypes2, #item_text3 { /**/
            display: none;
        }

        .button {
            background-color: #008CBA; /* Green */
            border: none;
            color: white;
            padding: 6px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button2 {
            border-radius: 4px;
            font-size: 13px;
        }

    </style>
    <script>
        function gooo(id) {
            if (id != "") {
                location.href = '?x=' + id;
            }
        }

        function change_itemtypes2(name) {


            document.getElementById("types2").value = "";
            document.getElementById("types3").value = "";
            if (name == '1') {
                document.getElementById("item_text2").style.display = "block";

                document.getElementById("item_text3").style.display = "none";

            } else if (name == '3') {

                document.getElementById("item_text2").style.display = "none";
                document.getElementById("item_text3").style.display = "block";
            } else {

                document.getElementById("item_text2").style.display = "none";
                document.getElementById("item_text3").style.display = "none";
            }

        }

        function change_itemtypes23(name) {
            document.getElementById("types2").value = "";
            if (name == '1') {
                document.getElementById("item_text2").style.display = "block";
            } else {

                document.getElementById("item_text2").style.display = "none";
            }
        }

        function apply1() {
            var f = document.form1;
            if (f.username.value == "") {
                alert('用户名不能为空');
                return false;
            }
            if (f.password.value == "") {
                alert('密码不能为空');
                return false;
            }
            if (f.realname.value == "") {
                alert('真实姓名不能为空');
                return false;
            }
            if (f.no.value == "") {
                alert('学号不能为空');
                return false;
            }
            if (f.clas.value == "") {
                alert('班级不能为空');
                return false;
            }
            if (f.age.value == "") {
                alert('年龄不能为空');
                return false;
            }
            if (f.address.value == "") {
                alert('家庭地址不能为空');
                return false;
            }
            if (f.tel.value == "") {
                alert('联系电话不能为空');
                return false;
            }


        }
    </script>
</head>

<body>
<table width="99%" height="25" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:4px;">
    <tr>
        <td width="17" background="/static/Images/bj4.gif"><img src="/static/Picture/r.gif" width="16" height="16"/>
        </td>
        <td width="466" background="/static/Images/bj4.gif">{$Think.session.userInfo.realname}:你好！欢迎光临
        </td>
        <td width="162" align="center" background="/static/Images/bj4.gif">

        </td>
    </tr>
</table>
<table width="99%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="1%" align="left" background="/static/Images/b2.jpg"><img src="/static/Picture/b1.jpg" width="10"
                                                                            height="26"/></td>
        <td width="68%" background="/static/Images/b2.jpg">
            <table width="211" border="0" align="left" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="20" align="left"><img src="/static/Picture/tz.gif" width="10" height="16"/></td>
                    <td width="191" align="left" class="biao">添加学生</td>
                </tr>
            </table>
        </td>
        <td width="31%" align="right" background="/static/Images/b2.jpg"><img src="/static/Picture/b3.jpg" width="9"
                                                                              height="26"/></td>
    </tr>
</table>

<form method="post" enctype="multipart/form-data" name="form1" onsubmit="return apply1();">
    <table width="99%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#AEDEF4">
        <tr>
            <td width="86" height="25" align="center" bgcolor="#FFF9DF">学生账号</td>
            <td colspan="5" align="left" bgcolor="#FFFFFF"><label>
                &nbsp;<input name="username" type="text" id="username" size="80" value="{$data.username}"/>
            </label></td>

        </tr>
        <tr>
            <td width="86" height="25" align="center" bgcolor="#FFF9DF">密码</td>
            <td colspan="5" align="left" bgcolor="#FFFFFF"><label>
                &nbsp;<input name="password" type="password" id="password" size="80" value="{$data.password}"/>
            </label></td>

        </tr>
        <tr>
            <td width="86" height="25" align="center" bgcolor="#FFF9DF">学生姓名</td>
            <td colspan="5" align="left" bgcolor="#FFFFFF"><label>
                &nbsp;<input name="realname" type="text" id="realname" size="80" value="{$data.realname}"/>
            </label></td>

        </tr>
        <tr>
            <td width="86" height="25" align="center" bgcolor="#FFF9DF">学号</td>
            <td colspan="5" align="left" bgcolor="#FFFFFF"><label>
                &nbsp;<input name="no" type="text" id="no" size="80" value="{$data.no}"/>
            </label></td>

        </tr>
        <tr>
            <td width="86" height="25" align="center" bgcolor="#FFF9DF">班级</td>
            <td colspan="5" align="left" bgcolor="#FFFFFF"><label>
                &nbsp;<input name="clas" type="text" id="clas" size="80" value="{$data.clas}"/>
            </label></td>

        </tr>
        <tr>
            <td width="86" height="25" align="center" bgcolor="#FFF9DF">性别</td>
            <td colspan="5" align="left" bgcolor="#FFFFFF"><label>
                &nbsp;<select name="sex" id="sex">
                <option value="男" {if $data.sex==
                '男'}selected{/if}>男</option>
                <option value="女" {if $data.sex==
                '女'}selected{/if}>女</option>
            </select>
            </label></td>
        </tr>
        <tr>
            <td width="86" height="25" align="center" bgcolor="#FFF9DF">年龄</td>
            <td colspan="5" align="left" bgcolor="#FFFFFF"><label>
                &nbsp;<input name="age" type="text" id="age" size="80" value="{$data.age}"/>
            </label></td>

        </tr>
        <tr>
            <td width="86" height="25" align="center" bgcolor="#FFF9DF">家庭地址</td>
            <td colspan="5" align="left" bgcolor="#FFFFFF"><label>
                &nbsp;<input name="address" type="text" id="address" size="80" value="{$data.address}"/>
            </label></td>

        </tr>
        <tr>
            <td width="86" height="25" align="center" bgcolor="#FFF9DF">联系电话</td>
            <td colspan="5" align="left" bgcolor="#FFFFFF"><label>
                &nbsp;<input name="tel" type="text" id="tel" size="80" value="{$data.tel}"/>
            </label></td>

        </tr>
        <tr>
            <td width="86" height="25" align="center" bgcolor="#FFF9DF">个人爱好</td>
            <td colspan="5" align="left" bgcolor="#FFFFFF"><label>
                &nbsp;<input name="hobby" type="text" id="hobby" size="80" value="{$data.hobby}"/>
            </label></td>

        </tr>
        <tr>

            <td colspan="2" height="25" align="left" bgcolor="#FFFFFF"><label>
                <button type="submit" class="button button2" style="margin-left: 400px"
                        onclick="return confirm('确认提交吗？')">保存
                </button>
                <button type="reset" class="button button2">重置</button>
            </label></td>

        </tr>
    </table>
</form>
</body>
</html>
